name: ci

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - name: Restore
        run: dotnet restore ECommerce.sln
      - name: Build
        run: dotnet build ECommerce.sln --configuration Release --no-restore
      - name: Test
        run: dotnet test ECommerce.sln --no-build --verbosity normal
      - name: Publish API
        run: dotnet publish src/ECommerce.Api/ECommerce.Api.csproj -c Release -o out
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: api-build
          path: out
